*, body, html {
    box-sizing: border-box;
}

html { 
	font-family: Helvetica,sans-serif;
	font-size:15px; 
	line-height:1.5rem
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: 'Open Sans', serif;
    font-weight: 400;
}

h1,h2 { 
	font-weight:600
}

h2 { 
	border-left: 4px solid #2689FF;
	/* border-left: 4px solid #8c1515;*/
	font-size:1.5rem;
	margin:1.5rem 0 .3rem; 
	padding:0 0 .3rem .8rem
}

h3 {
    font-size: 1.15em;
}

a {
	color: black;
}

a:visited {
	color: black;
}

figure img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Navigation Bar */
nav {
	padding:0.30rem;
	/*background-color:#8c1515;*/
	background-color: #2689FF;
}

.navigation-links-list {
	float: right;
	margin: 0px;
	display: inline-block
}

.navigation-link {
	display: inline-block;
	margin-right: 1rem;
	list-style: none;
}

.nav_link {
	color: #fff;
	text-decoration: none;
}

.nav_link:visited, .nav_link:link {
	color: #fff;
}

.nav_link:hover {
	color:#fff;
	text-decoration: underline;
}

.course_title {
	font-size: 1.5rem;
}

/* Course Staff Section */

.profile-image-container {
	margin-bottom:10px;
	margin-right:50px;
	display:inline-block;
	vertical-align:top;
}

.profile-image {
	height: 150px;
	width: 150px;
}

.instructor-name {
	font-weight:bold;
	margin-top: 3px;
}

.instructor-info {
	margin-top:3px;
}

/* Calendar Widget */


/******************
 * Calendar widget
 */

.calendar {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 3em;
}

/* .calendar .week-title {
} */

.calendar .week {
    font-weight: bold;
	font-family: sans-serif;
    display: none;
}

.calendar .week ~ .week {
    display: block;
}

.calendar .day,
.calendar .header {
    padding: .3em 10px;
    margin-bottom: 0.2em;
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.calendar .header {
    /* position: relative; */
    padding-bottom: 0;
    font-weight: bold;
    align-items: flex-end;
	font-family: sans-serif;
}

.calendar .header .references,
.calendar .header .assignments {
    text-overflow: ellipsis;
    overflow: hidden;
}

.calendar .day.odd {
    background-color: #fafcff;
}

.calendar .day.even {
    background-color: #fafcff;
}

.calendar .day.upcoming {
    color: #999;
}

.calendar .day:nth-child(odd).upcoming {
    background-color: #fafbfc;
}

.calendar .day:nth-child(even).upcoming {
    background-color: #fafbfc;
}

.calendar .date-and-type .date {
    font-size: 0.85em;
}

.calendar .date-and-type,
.calendar .topic,
.calendar .materials,
.calendar .references,
.calendar .assignments {
    flex-shrink: 0;
    margin-left: 2px;
    margin-right: 2px;
    text-align: left;
}

.calendar .date-and-type {
    flex-basis: 10ch;
    flex-grow: 0.1;
}

.calendar .topic {
    flex-basis: 16ch;
    flex-grow: 1.6;
}

/* topic styling for different day types
.calendar .lecture-day .topic,
.calendar .midterm-day .topic {
    font-style: inherit;
    text-align: left;
}

.calendar .lecture-day .topic {}

.calendar .section-day .topic {
    font-style: inherit;
} */

.calendar ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.calendar li {
    text-indent: -1.5ch;
    padding-left: 1.5ch;
}

.calendar li:not(:last-child) {
    margin-bottom: 0.2em;
}

.calendar .materials {
    flex-basis: 16ch;
    flex-grow: .8;
    text-align: left;
}

.calendar .references,
.calendar .video,
.calendar .assignments {
    flex-basis: 8ch;
    flex-grow: .9;
}

@media (max-width: 767.98px) {
    .calendar .header {
        display: none;
    }
    .calendar .week {
        display: block;
    }

    /* .calendar .date-and-type,
    .calendar .topic {
        margin-left: 4px;
        margin-right: 4px;
    } */

    .calendar .date,
    .calendar .type {
        display: inline;
        white-space: nowrap;
    }

    .calendar .date-and-type,
    .calendar .topic,
    .calendar .materials,
    .calendar .references,
    .calendar .assignments {
        flex-basis: 100%;
        flex-grow: 1;
        margin-bottom: 0.2em;
    }

    .calendar .topic {
        font-weight: bold;
    }

    .calendar ul {
        padding-left: 2ch;
    }

    .calendar .materials.empty,
    .calendar .references.empty,
    .calendar .assignments.empty {
        display: none;
    }

    .calendar div.materials::before {
        content: "Materials:";
        display: block;
        margin-bottom: 0.2em;
        text-decoration: underline;
        font-weight: bold;
    }

    .calendar div.assignments::before {
        content: "Assignments:";
        display: block;
        margin-bottom: 0.2em;
        text-decoration: underline;
        font-weight: bold;
    }

}

a.styled-url {
    padding: 0 0.2rem;
    border-style: solid;
    border-width: 0.1rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-weight: normal;
	text-decoration: none;
}

a.styled-url:hover {
    color: white;
    background-color: inherit;
    text-decoration: none;
}

a.blue {
    border-color: #2689FF;
    color: #2689FF;
}

a.blue:hover {
    background-color: #2689FF;
}

a.black {
    border-color: black;
    color: black;
}

a.black:hover {
    background-color: black;
}

a.purple {
    border-color: #5A428C;
    color: #5A428C;
}

a.purple:hover {
    background-color: #5A428C;
}

a.yellow {
    border-color: #E1AD01;
    color: #E1AD01;
}

a.yellow:hover {
    background-color: #E1AD01;
}

a.red {
    border-color: #ad1515;
    color: #ad1515;
}

a.red:hover {
    background-color: #ad1515;
}

a.gray {
    border-color: #5C6D70;
    color: #5C6D70;
}

a.gray:hover {
    background-color: #5C6D70;
}

a.brown {
    border-color: #964b00;
    color: #964b00;
}

a.brown:hover {
    background-color: #964b00;
}

span {
  display: inline-block;
  width: 28px;
}

/* enable for inline materials
.calendar .materials ul,
.calendar .materials li {
    display: inline;
}

.calendar .materials li {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
*/



/* lab signup */
table a.link:visited {
    color: #A50000;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid #bbb;
    padding-top: 6px;
    padding-bottom: 6px;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
}

th:first-of-type, td:first-of-type {
    padding-left: 4px;
}

th:last-of-type, td:last-of-type {
    padding-right: 4px;
}

.table_row.even {
    background: #EDEDED;
}

.current_lab { font-weight: bold; }

pre {
    border-radius: 4px;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
    font-family: 'Anonymous Pro', monospace;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
}

code {
    font-family: 'Anonymous Pro', monospace;
    background-color: #F1F3F5;
    border-radius: 4px;
    padding: 2px 0;
    border: 1px solid #BCBEC0;
    font-size: 0.95em;
}

pre code {
    border-radius: 0px;
    background: none;
    border: none;
}

.page-header-container {
    background: #900;
    color: #FFF;
    text-align: center;
    box-shadow: inset 0px -7px 8px -5px rgba(50, 50, 50, 0.6);
}

.page-header-container.collapsed {
    box-shadow: none;
}

.navbar {
	width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
}

.navbar-contents, .page-header, .content {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar ul {
    display: inline-block;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}

.navbar li:last-of-type {
    margin-right: 0;
}

.navbar .nav-home {
    display: inline-block;
    text-align: left;
    float: left;
    font-size: 1.1em;
}

.nav-home h3 {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #FFF;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    border-bottom: 1px solid #FFF;
    opacity: 0;
    transition: color 0.2s ease, left 0.2s ease, right 0.2s ease,
                opacity 0.2s ease;
}

.navbar a:hover::after {
    opacity: 1;
    left: 0;
    right: 0;
}

.page-header {
    padding-top: 60px;
    padding-bottom: 60px;
}

.sep {
    margin-left: 4px;
    margin-right: 4px;
}

.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content.columns {
    display: flex;
}

.column {
    display: inline-block;
}

.column.lectures-container {
    width: 50%;
    padding-right: 20px;
}

.column.lectures-container {
    position: relative;
    max-height: 1100px;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in-out;
}

.lectures-container {
    max-height: 300px;
}
.lectures-container.expanded {
    max-height: 3000px;
}

.column-expand-btn {
    display: block;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    position: absolute;
    top: calc( 100% - 50px );
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #FFF0 0%, #FFFC 30%, #F9F9F9);
    font-size: 15pt;
    color: #666;
    border-bottom: 1px solid #aaa;
}

.column.expanded .column-expand-btn,
        .lectures-container.expanded .column-expand-btn {
    display: none;
}

.column.course-material {
    width: 50%;
    padding-left: 20px;
}

.column.calendar {
    width: 70%;
    padding-right: 15px;
}

.column.notable-dates {
    width: 30%;
    padding-left: 15px;
}

.announcement {
    border-bottom: 1px solid #aaa;
}

.announcement .title-line, .lecture .title-line {
    line-height: 1.4em;
    margin-top: 18px;
}
.announcement .title-line {
    margin-bottom: 16px;
}
/* Clearfix: */
.announcement .title-line::after, .lecture .title-line::after {
    content: "";
    display: table;
    clear: both;
}

.announcement h3, .lecture h3 {
    margin: 0;
    float: left;
    max-width: calc( 100% - 100px );
}

.announcement .date, .lecture .date {
    margin: 0;
    color: #555;
    font-size: 0.8em;
    float: right;
}

.announcement .body, ul.extra-links {
    padding-top: 10px;
    clear: both;
    font-size: 0.95em;
}

.lecture {
    margin-bottom: 18px;
}

.lecture .title-line:first-of-type {
    margin-top: 0;
}

.lecture p:not(.date), .lecture .extra-links {
    margin: 0;
    padding-left: 45px;
    padding-top: 3px;
}
ul.extra-links {
    margin: 0;
    padding-left: 0px;
    padding-top: 0px;
}

ul.extra-links {
    list-style-type: none;
}

.extra-links li {
    display: inline;
}

.handouts-heading {
    margin-bottom: 10px;
}

.handouts-list {
    margin-top: 0;
    padding-bottom: 18px;
}

.CodeMirror {
    height: auto;
}

.table_detail pre {
    max-width: 900px;
}
